<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height , initial-scale=1, shrink-to-fit=no">
    <title>Lancho Control</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/styles/main.css'>
    <link rel="icon" href="/icons/shopping_cart-black-48dp.svg">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Lancho Control</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/mesas/novo">Mesas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/clientes/novo">Cliente</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/produtos/novo">Produtos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/compras/novo">Compra</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/vendas/novo">Venda</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/mdPagamento">Modos de Pagamento</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/mesas">Mesas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/compras">Compras</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vendas">Venda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/estoque">Estoque</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/fluxo-caixa">Fluxo de Caixa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vendas/contas">Contas(cliente)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/empresa">Empresa</a>
                </li>
            </ul>
        </div>
    </nav>